.stardust{
    background-image: url('../../assets/img/stardust.jpg');
  }

.sound{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 10;
}
  .full-height{
    height: 100%;
  }

  .overflow{
    overflow: auto;
  }

  .galaxy{
    text-align: center;
    color: white;
    padding-top: 50px;
    background-image: url('../../assets/img/stardust.jpg');
  }

  .planet{
    display: block;
    width: 50%;
    margin: auto;
  }

  #planet-container{
    height: 650px;
    overflow: hidden;
  }

  .planet-static{
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    padding: 0;
  }

  .resident{
    width: 100%;
    height: auto;
  }

  .margin-bottom{
    margin-bottom: 15px;
  }

  .margin-top{
    margin-top: 15px;
  }

  .transparent-white{
    background-color: rgba(255, 255, 255, .9)
  }

  .card-title{
    font-size: 1rem !important;
  }

  /* STYLE 9 */

  #style-9::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  #style-9::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }

  #style-9::-webkit-scrollbar-thumb
  {
    background-color: #F90;
    background-image: -webkit-linear-gradient(90deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
  }

  /* STAR WARS */

#intro{
  position: absolute;
  bottom: 0;
  height: 100%;
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 400px;
    color: white;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }

  .crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 200s linear;
  }

  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }

  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }

  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% {
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }
