<template>

  <b-container class="full-height" fluid>

    <b-row class="full-height stardust">

      <b-col v-if="!selected" id="style-9" class="full-height overflow" style="background-color: rgba(255, 255, 255, .2)"
        cols="6">
        <b-row class="margin-top">

          <b-col cols="6" v-for="planet in this.planets" class="margin-bottom">

            <b-card bg-variant="light" text-variant="dark" :title="planet.name">

              Rotation Períod: {{ planet.rotation_period }} <br>
              Orbital Period: {{ planet.orbital_period }}<br>
              Diameter: {{ planet.diameter }}<br>
              Climate: {{ planet.climate }}<br>
              Gravity: {{ planet.gravity }}<br>
              Terrain: {{ planet.terrain }}<br>
              Water Surface: {{ planet.surface_water}}<br>
              Population: {{ planet.population }}

              <hr>
              <b-button variant="primary" v-on:click="explorePlanet(planet)">Explore</b-button>
            </b-card>

          </b-col>
        </b-row>
      </b-col>

      <b-col v-if="selected" id="style-9" class="full-height overflow" cols="6">

        <b-row class="margin-top">
          <b-col cols="12">
            <b-alert variant="warning" show>INFORMATION</b-alert>
          </b-col>
        </b-row>

        <b-row>

          <b-col cols="3">

            <b-card class="transparent-white" text-variant="dark" title="Rotation Period">

              {{ planet.rotation_period }}

            </b-card>

          </b-col>

          <b-col cols="3">

            <b-card class="transparent-white" text-variant="dark" title="Orbital Period">

              {{ planet.orbital_period }}

            </b-card>

          </b-col>

          <b-col cols="3">

            <b-card class="transparent-white" text-variant="dark" title="Diameter">

              {{ planet.diameter }}

            </b-card>

          </b-col>

          <b-col cols="3">

            <b-card class="transparent-white" text-variant="dark" title="Climate">

              {{ planet.climate }}

            </b-card>

          </b-col>

        </b-row>

        <b-row class="margin-top">

          <b-col cols="3">

            <b-card class="transparent-white" text-variant="dark" title="Gravity">

              {{ planet.gravity }}

            </b-card>

          </b-col>

          <b-col cols="3">

            <b-card class="transparent-white" text-variant="dark" title="Terrain">

              {{ planet.terrain }}

            </b-card>

          </b-col>

          <b-col cols="3">

            <b-card class="transparent-white" text-variant="dark" title="Water Surface">

              {{ planet.surface_water }}

            </b-card>

          </b-col>

          <b-col cols="3">

            <b-card class="transparent-white" text-variant="dark" title="Population">

              {{ planet.population }}

            </b-card>

          </b-col>

        </b-row>

        <b-row class="margin-top">

          <b-col cols="12">

            <b-alert variant="danger" show>RESIDENTS</b-alert>

          </b-col>

        </b-row>

        <b-row class="margin-top">

          <b-col cols="3" v-for="resident in this.planet.residents" class="margin-bottom">

            <b-card class="transparent-white" text-variant="dark" :title="resident.name">

              <img :src="getImgUrl(resident)" class="resident">

            </b-card>

          </b-col>

          <b-col v-if="this.planet.residents.length <= 0" cols="12" class="margin-bottom">

            <b-card class="transparent-white" text-variant="dark">

              No resident found.

            </b-card>

          </b-col>

        </b-row>

      </b-col>

      <b-col class="galaxy" cols="6">

        <h1>{{planet.name}}</h1>

        <div id="planet-container">



        </div>

        <b-row v-if="selected" class="margin-top">
          <b-col cols="12" class="margin-top">

            <b-button class="margin-top" variant="primary" v-on:click="clear()">BACK TO PLANETS</b-button>

          </b-col>
        </b-row>

        <div id="intro" v-if="intro">

          <div class="fade"></div>

          <section class="star-wars">

            <div class="crawl">
              <div class="title">
                <p>VERSIAN</p>
                <h1>Planetarium</h1>
              </div>
              <p>A Versian IT Solutions agradece a oportunidade de poder se candidatar a este projeto.</p>
            </div>

          </section>

        </div>

      </b-col>

    </b-row>

    <audio id="music" preload="auto" autoplay>
      <source src="https://s.cdpn.io/1202/Star_Wars_original_opening_crawl_1977.mp3" type="audio/mpeg">
    </audio>

    <b-button class="sound" variant="primary" v-on:click="toggleSound()"><img src="../../assets/img/sound.png"></b-button>

  </b-container>

</template>

<script>
  import Home from './home.component.vue';
  export default Home;
</script>

<style scoped>
  @import url('./home.template.css');
</style>
