<script>
import PlanetService from '../../service/planet-service.js';

export default {
  name: 'home-component',
  methods: {
    explorePlanet,
    clear,
    getImgUrl,
    toggleSound
  },
  data () {
    return {
      planets: [],
      planet: {},
      selected: false,
      intro: true,
      sound: true
    }
  },
  created: async function () {
    this.planets = await PlanetService.getPlanets();
  }
};

function explorePlanet(planet) {
  this.intro = false;
  this.planet = planet;
  this.selected = true;

  //define velocidade de rotacao max: 70.000ms para 50 periodos
  var _spin = (planet.rotation_period * 70000) / 50;

  //define o tipo de terreno
  var _pattern =
    'http://www.thepetedesign.com/demos/planetarium/texture-earth.jpg';

  if (planet.terrain.indexOf('desert') > -1)
    _pattern =
      'http://www.thepetedesign.com/demos/planetarium/texture-saturn.jpg';
  else if (planet.terrain.indexOf('mountains') > -1)
    _pattern =
      'http://www.thepetedesign.com/demos/planetarium/texture-jupiter.jpg';
  else if (planet.terrain.indexOf('jungle') > -1)
    _pattern =
      'http://www.thepetedesign.com/demos/planetarium/texture-earth.jpg';
  else if (planet.terrain.indexOf('tundra') > -1)
    _pattern =
      'http://www.thepetedesign.com/demos/planetarium/texture-saturn.jpg';
  else if (planet.terrain.indexOf('ocean') > -1)
    _pattern =
      'https://static8.depositphotos.com/1454655/1009/v/450/depositphotos_10090235-stock-illustration-seamless-ocean-wave-pattern.jpg';

  $('#planet-container').html('');
  $('#planet-container').append('<div class="planet-static"></div>');
  $('.planet-static').planetarium({
    autospin: _spin + 'ms',
    angle: '20deg',
    glow:
      'rgba(255, 255, 255, 0.34902) 0px 0px 50px, inset 33px 20px 50px rgba(0,0,0,0.5)',
    pattern: _pattern,
    size: '500x500',
    float: true,
    space: 'body',
    ring: false,
    ringColor: '#fff',
    ringAngle: '20deg'
  });


}

function clear() {
  this.selected = false;
}

function getImgUrl(resident) {
  var _name = resident.name.replace(/ /g,'').toLowerCase() + ".png";
  return require('../../assets/img/' + _name)
}

function toggleSound(){
  var _music = $("#music")[0];

  if(this.sound)
    _music.pause();
  else
    _music.play();

  this.sound = !this.sound;
}

</script>
