<template>

  <div id="app">
    <router-view></router-view>
    <notifications group="mensagemConfirmacao" position="bottom left"/>
  </div>

</template>

<script>
  import DbService from './service/db-service';

  // Initialize DB
  DbService._initDb();

  export default {
    name: 'app'
  }

</script>

